.view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ui {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;

  margin: 1rem;

  span {
    padding: 0 1rem;
  }
}

button { 
  margin: 0 0.5rem;
}

.loading {
  animation: pulse 0.1s infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}